<div class="flex">
    <div class="flex-grow-1 ma2 ml0 flex flex-column">
        <mico-app-dependency-graph [shortName]="application?.shortName" [version]="application?.version">
        </mico-app-dependency-graph>
    </div>

    <!-- right side grid -->
    <div class="w-25">
        <mat-card class="ma1">
            <mat-card-content>
                <mat-action-list>
                    <mat-divider></mat-divider>
                    <div class="flex" (click)="addService()">
                        <div class="flex-grow-1">
                            <mat-list-item>
                                <span mat-line><b>Services</b></span>
                            </mat-list-item>
                        </div>
                        <div class="w-20">
                            <mat-list-item>
                                <mat-icon>add</mat-icon>
                            </mat-list-item>
                        </div>
                    </div>

                    <mat-divider></mat-divider>
                    <!-- Included Services -->
                    <div *ngFor="let dependee of application?.services">
                        <div class="flex">
                            <div class="flex-grow-1"
                                [routerLink]="['/service-detail',dependee.shortName,dependee.version]">
                                <mat-list-item.large style="font-size:small">
                                    <div class="pv2 pl4">
                                        {{dependee.shortName}}<br />
                                        {{dependee.version}}
                                    </div>
                                </mat-list-item.large>
                            </div>
                            <div class="w-20" (click)="deleteService(dependee.shortName)">
                                <mat-list-item>
                                    <mat-icon>delete</mat-icon>
                                </mat-list-item>
                            </div>
                        </div>
                        <div>
                            <span style="font-size: small">
                                Deployment Info:<br />
                            </span>
                            <mico-app-detail-overview-deployment-information
                                [applicationShortName]="application?.shortName"
                                [applicationVersion]="application?.version" [service]="dependee">
                            </mico-app-detail-overview-deployment-information>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="flex" (click)="addPattern()">
                        <div class="flex-grow-1">
                            <mat-list-item>
                                <span mat-line><b>Patterns</b></span>
                            </mat-list-item>
                        </div>
                        <div class="w-20">
                            <mat-list-item>
                                <mat-icon>add</mat-icon>
                            </mat-list-item>
                        </div>
                    </div>

                    <mat-divider></mat-divider>
                    <div class="flex" (click)="addKafkaFaasConnector()">
                        <div class="flex-grow-1">
                            <mat-list-item>
                                <span mat-line><b>Kafka FaaS Connector</b></span>
                            </mat-list-item>
                        </div>
                        <div class="w-20">
                            <mat-list-item>
                                <mat-icon>add</mat-icon>
                            </mat-list-item>
                        </div>
                    </div>
                </mat-action-list>
            </mat-card-content>

        </mat-card>
    </div>
</div>
