<div [ngSwitch]="propertyType()" class="">
    <mico-data-string *ngSwitchCase="'string'" [config]="property" [dataValue]="dataValue"></mico-data-string>
    <!-- number is displayed similar to strings-->
    <mico-data-string *ngSwitchCase="'number'" [config]="property" [dataValue]="dataValue"></mico-data-string>
    <mico-data-string *ngSwitchCase="'integer'" [config]="property" [dataValue]="dataValue"></mico-data-string>
    <mico-data-boolean *ngSwitchCase="'boolean'" [config]="property" [dataValue]="dataValue"></mico-data-boolean>
    <mico-data-object *ngSwitchCase="'object'" [config]="property" [dataValue]="dataValue"></mico-data-object>
</div>
