<h2 mat-dialog-title>Create a new Service</h2>
<mat-dialog-content style="min-width: 35rem">

    <mat-tab-group (selectedTabChange)="tabChange($event)">
        <!-- TAB: MANUAL SERVICE INPUT-->
        <mat-tab label="Manual">
            <mico-form [modelUrl]="'remote/MicoService'" [filter]="filterListManual" (data)="serviceData = $event">
            </mico-form>
        </mat-tab>

        <!-- TAB: GITHUB IMPORT-->
        <mat-tab label="GitHub">

            <mat-vertical-stepper (selectionChange)="gitStepperChange($event)">

                <!-- 1. STEP: CHOOSE REPOSITORY -->
                <mat-step label="Choose The Repository">
                    <mico-form [modelUrl]="'remote/CrawlingInfoDTO'" [filter]="filterListGithub"
                        (data)="githubData = $event"></mico-form>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>

                <!-- 2. STEP: CHOOSE VERSION-->
                <mat-step label="Choose The Version">
                    <mat-radio-group [(ngModel)]="picked">
                        <!-- latest vs. specific version-->
                        <div class="ma2">
                            <mat-radio-button value="latest">Latest Version</mat-radio-button>
                        </div>
                        <div class="ma2 mt0">
                            <mat-radio-button value="specific">Specific Version</mat-radio-button>

                            <!-- drop down for version selection -->
                            <mat-form-field class="w25 ma2">
                                <mat-select placeholder="Version" (ngModelChange)="updateSelectedVersion($event)"
                                    [ngModel]="selectedVersion">
                                    <mat-option *ngFor="let version of possibleVersions" [value]="version">
                                        {{version}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-radio-group>
                </mat-step>
            </mat-vertical-stepper>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="input()">Yes</button>
</mat-dialog-actions>
