<h2 mat-dialog-title>Create a new Service</h2>
<mat-dialog-content style="min-width: 35rem">

    <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab label="Manual">
            <mico-form [modelUrl]="'remote/MicoService'" [filter]="filterList" (data)="serviceData = $event">
            </mico-form>
        </mat-tab>
        <mat-tab label="GitHub">

            <mat-vertical-stepper>
                <mat-step label="Choose The Repository">
                    <!-- TODO replace with mico-form-question-->
                    <mico-form [modelUrl]="'local/serviceFromGitPOST'" (data)="githubData = $event"></mico-form>
                </mat-step>
                <mat-step label="Choose The Version">
                    Content 2
                </mat-step>
            </mat-vertical-stepper>


        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="input()">Yes</button>
</mat-dialog-actions>
