<div class="flex w100">
    <div class="ma3 flex-grow-1">
        <h3>Application {{application?.name}}</h3>
        <button mat-raised-button (click)="deployApplication()">deploy</button>
        <span *ngIf="isLatestVersion()" class="mh2">
            <button mat-raised-button (click)="promoteNextVersion()">create next Version</button>
        </span>
        <span class="mh2">
            <button mat-raised-button (click)="deleteCurrentVersion()">delete Version</button>
        </span>
    </div>

    <!-- Drop Down Menu for version selection-->
    <mat-form-field class="w25 ma2">
        <mat-select placeholder="Application Version" (ngModelChange)="updateVersion($event)"
            [ngModel]="selectedVersion">
            <mat-option *ngFor="let version of allVersions" [value]="version.version">
                {{version?.version}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<mat-divider></mat-divider>

<mat-card class="ma2">
    <mat-tab-group>
        <mat-tab label="Overview">
            <mico-app-detail-overview [application]="application"></mico-app-detail-overview>
        </mat-tab>
        <mat-tab label="Application Data">
            <div class="ma3">
                <mat-button-toggle class="mt1 mb2 mr2 inline-flex items-center" value="edit" [checked]="edit"
                    (change)="edit = !edit">
                    <span class="mr2">Edit</span>
                    <mat-icon>edit</mat-icon>
                </mat-button-toggle>

            </div>
            <ng-container *ngIf="edit">
                <mico-form [modelUrl]="'remote/MicoApplication'" [filter]="['deploymentInfo', 'services']" [isBlacklist]="true" (data)="applicationData = $event"
                    [startData]="application"></mico-form>

                <div class="ma1 pa1">
                    <span class="ma1">
                        <button mat-raised-button (click)="saveApplicationChanges()">Save</button>
                    </span>
                    <span class="ma1">
                        <button mat-raised-button (click)="edit = !edit">Cancel</button>
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="!edit">
                <mico-data [modelUrl]="'remote/MicoApplication'" [startData]="application"></mico-data>
            </ng-container>
        </mat-tab>
        <mat-tab label="Status">
            <mico-app-detail-status [shortName]="shortName" [version]="selectedVersion"></mico-app-detail-status>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<mat-card class="ma2">
    <mat-card-title>
        Public IPs:
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let ip of publicIps">
            <a target="_blank" rel="noopener" href="http://{{ip}}">
                {{ip}}
            </a><br />
        </div>
    </mat-card-content>

</mat-card>
