<div class="flex w100">
    <div class="ma3 flex-grow-1">
        <h3>Application {{application?.name}}</h3>

        <!-- BUTTONS -->
        <mat-button-toggle mat-raised-button (click)="deployApplication()" class="mr2">
            <span>
                deploy
            </span>
            <mat-icon>cloud_upload</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button (click)="undeployApplication()" class="mh2">
            <span>
                undeploy
            </span>
            <mat-icon>cloud_off</mat-icon>
        </mat-button-toggle>

        <span *ngIf="isLatestVersion()" class="mh2">
            <mat-button-toggle mat-raised-button (click)="promoteNextVersion()">
                <span>
                    create next Version
                </span>
                <mat-icon>arrow_upward</mat-icon>
            </mat-button-toggle>
        </span>

        <span class="mh2">
            <mat-button-toggle mat-raised-button (click)="deleteCurrentVersion()">
                <span>
                    delete version
                </span>
                <mat-icon>delete</mat-icon>
            </mat-button-toggle>
        </span>
    </div>

    <!-- Drop Down Menu for version selection-->
    <mat-form-field class="w25 ma2">
        <mat-select placeholder="Application Version" (ngModelChange)="updateVersion($event)"
            [ngModel]="selectedVersion">
            <mat-option *ngFor="let version of allVersions" [value]="version?.version">
                {{version?.version}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<mat-divider></mat-divider>

<mat-card class="ma2">
    <mat-tab-group>
        <!-- OVERVIEW TAB -->
        <mat-tab label="Overview">
            <mico-app-detail-overview [application]="application"></mico-app-detail-overview>
        </mat-tab>
        <!-- DATA TAB -->
        <mat-tab label="Application Data" style="overflow-y: hidden">
            <div class="ma3">
                <!-- edit button -->
                <mat-button-toggle class="mt1 mb2 mr2 inline-flex items-center" value="edit" [checked]="edit"
                    (change)="edit = !edit">
                    <span class="mr2">Edit</span>
                    <mat-icon>edit</mat-icon>
                </mat-button-toggle>

            </div>
            <ng-container *ngIf="edit">
                <!-- edit version (dynamic form) -->
                <mico-form [modelUrl]="'remote/MicoApplicationRequestDTO'" [filter]="['deploymentInfo', 'services']"
                    [isBlacklist]="true" (data)="applicationData = $event" [startData]="application"></mico-form>

                <div class="ma1 pa1">
                    <span class="ma1">
                        <button mat-raised-button (click)="saveApplicationChanges()">Save</button>
                    </span>
                    <span class="ma1">
                        <button mat-raised-button (click)="edit = !edit">Cancel</button>
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="!edit">
                <!-- display version (data-view) -->
                <mico-data [modelUrl]="'remote/MicoApplicationResponseDTO'" [startData]="application"></mico-data>
            </ng-container>
        </mat-tab>
        <!-- STATUS TAB -->
        <mat-tab label="Status">
            <mico-app-detail-status [shortName]="shortName" [version]="selectedVersion"></mico-app-detail-status>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<!-- PUBLIC IPs-->
<mico-app-detail-public-ip [application]="application">
</mico-app-detail-public-ip>
