<h2 mat-dialog-title>Set Environment Variable</h2>
<mat-dialog-content style="min-width: 48rem">
    Connect <b>{{serviceShortName}}</b> with <b>{{interfaceName}}</b> via:

    <mat-form-field>
        <input matInput placeholder="Environment Variable" [(ngModel)]="chosenEnvVar">
    </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="response()">Ok</button>
</mat-dialog-actions>
