<h2 mat-dialog-title>Pick a Service</h2>
<mat-dialog-content style="min-width: 32rem">
    <form>
        <mat-form-field style="width:95%">
            <input type="text" matInput [formControl]="servicePickerForm" [matAutocomplete]="auto" [(ngModel)]="service">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" style="height:45pt; line-height:initial" [value]="option.shortName">
                <b>{{option.name}}</b> (<i>{{option.shortName}}</i>)<br>{{option.description}}
            </mat-option>
        </mat-autocomplete>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="input()">Ok</button>
</mat-dialog-actions>
