<div class="" [formGroup]="form">
    <div [ngSwitch]="propertyType()" class="">

        <mat-form-field class="form-element" *ngSwitchCase="'string'">
            <mat-label>{{property.title}}</mat-label>
            <input matInput #input [formControlName]="property['x-key']" [attr.placeholder]="property.title"
                [required]="property['x-required']">
            <mat-hint align="end" *ngIf="property?.maxLength">{{input.value?.length || 0}}/{{property?.maxLength}}</mat-hint>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mico-form-boolean *ngSwitchCase="'boolean'" [formControlName]="property['x-key']" [config]="property"></mico-form-boolean>
        <mico-form-number *ngSwitchCase="'number'" [formControlName]="property['x-key']" [config]="property"></mico-form-number>
    </div>
</div>
