<div class="ma1">

    <mat-card *ngIf="dataValue?.length > 0; else emptyList">
        <mat-card-header>
            <mat-card-title>
                <span matTooltip={{config?.description}}>
                    {{config?.title}}
                </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <div *ngFor="let element of dataValue; let index=index; trackBy:trackBy">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <!-- index shift to start counting by 1 in the ui-->
                            Element {{index+1}}
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <mico-data [modelUrl]="config != null ? config.items['$ref'] : ''" [startData]="element">
                            </mico-data>
                        </ng-template>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <ng-template #emptyList>
        <mat-list-item style="height: auto; min-height: 48px; display: inline-flex; vertical-align: middle">
            <span class="mr1">
                <b>{{config.title}}:</b>
            </span>
            <span class="mv1">
                None
            </span>
        </mat-list-item>
    </ng-template>
</div>
