<div class="ma1">

    <mat-expansion-panel [disabled]="dataValue == null">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span matTooltip={{config?.description}}>
                    {{config?.title}}
                </span>
            </mat-panel-title>
            <mat-panel-description>
                <div *ngIf="dataValue == null; else showDescription">
                    null
                </div>
                <ng-template #showDescription>
                    {{config?.description}}
                </ng-template>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <mico-data [modelUrl]="config['$ref']" [startData]="dataValue"></mico-data>
        </ng-template>

    </mat-expansion-panel>
</div>
