<div class="flex">
    <!-- Information Grid-->
    <div class="flex-grow-1 ma2 ml0 flex flex-column">

        <div class="relative w-100">
            <ng-container *ngIf="!edit">
                <!-- display version -->
                <!-- TODO change to serviceGET (as soon as api is available -->
                <mico-data [modelUrl]="'remote/Service'" [startData]="serviceData"></mico-data>

                <!-- TODO hard coded information - not yet part of the domain model-->
                <!-- TODO some elements (like) tags are in the domain model now. Check as soon as the modelURLs are loaded dynamically-->
                <mat-list dense>
                    <mat-list-item class="mt2">
                        <b>Info</b>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        Type: service
                    </mat-list-item>
                    <mat-list-item>
                        Tags:
                        <mat-chip-list class="ma1">
                            <mat-chip>awesome</mat-chip>
                            <mat-chip>myService</mat-chip>
                        </mat-chip-list>
                    </mat-list-item>
                </mat-list>
            </ng-container>
            <!-- EndOf display version-->

            <!-- editable version -->

            <ng-container *ngIf="edit">
                <mico-form [modelUrl]="'remote/Service'" (data)="serviceData = $event" [startData]="serviceData"></mico-form>
                <div class="ma1 pa1">
                    <span class="ma1">
                        <button mat-raised-button (click)="save()">Save</button>
                    </span>
                    <span class="ma1">
                        <button mat-raised-button (click)="edit = !edit">Cancel</button>
                    </span>
                </div>
            </ng-container>
            <!-- EndOf editable version-->
        </div>


    </div>

    <!-- Controling Grid-->
    <div class="w-25 ma2 flex-column">

        <div class="w-100" style="display: flex; justify-content: flex-end">
            <mat-button-toggle class="mt1 mb2 inline-flex items-center" value="edit" [checked]="edit" (change)="edit = !edit"><span
                    class="mr2">Edit</span>
                <mat-icon>edit</mat-icon>
            </mat-button-toggle>
        </div>

        <!-- Provides/Dependencies box-->
        <div class="w-100">
            <mat-card>
                <mat-card-content>
                    <mat-action-list>
                        <mat-divider></mat-divider>
                        <div class="flex" (click)="addProvides()">
                            <div class="flex-grow-1">
                                <mat-list-item>
                                    <span mat-line><b>Provides</b></span>
                                </mat-list-item>
                            </div>
                            <div class="w-20">
                                <mat-list-item>
                                    <mat-icon>add</mat-icon>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <!-- Service Interfaces -->
                        <div *ngFor="let interface of serviceInterfaces">
                            <div class="flex">
                                <div class="flex-grow-1">
                                    <mat-list-item.large style="font-size:small">
                                        <div class="pv2 pl4">
                                            {{interface.Name}}<br>
                                            {{interface.Port}}<br>
                                            {{interface.Protocol}}<br>
                                            {{interface.TransportProtocol}}
                                        </div>
                                    </mat-list-item.large>
                                </div>
                                <div class="w-20">
                                    <mat-list-item>
                                        <mat-icon (click)="deleteServiceInterface(interface.Name)">delete</mat-icon>
                                    </mat-list-item>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>

                        <!-- DEPENDEES-->
                        <div class="flex" (click)="addDependee()">
                            <div class="flex-grow-1">
                                <mat-list-item>
                                    <span mat-line><b>Dependees</b></span>
                                </mat-list-item>
                            </div>
                            <div class="w-20">
                                <mat-list-item>
                                    <mat-icon>add</mat-icon>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <!-- list internal dependencies-->
                        <div *ngFor="let dependencie of dependees">
                            <div class="flex">
                                <div class="flex-grow-1">
                                    <mat-list-item [routerLink]="['/service-detail/', dependencie.shortName, dependencie.version]">
                                        <span mat-line [routerLink]="['/service-detail/', dependencie.shortName, dependencie.version]">{{dependencie.name}}</span>
                                    </mat-list-item>
                                </div>
                                <div class="w-20">
                                    <mat-list-item>
                                        <mat-icon (click)="deleteDependency(dependencie.shortName)">delete</mat-icon>
                                    </mat-list-item>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>

                        <!-- DEPENDERS -->
                        <div class="flex" (click)="addExternalDependency()">
                            <div class="flex-grow-1">
                                <mat-list-item (click)="addExternalDependency()">
                                    <span mat-line><b>Dependers</b></span>
                                </mat-list-item>
                            </div>
                            <div class="w-20">
                                <mat-list-item>
                                    <mat-icon>add</mat-icon>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <!-- list external dependencies-->
                        <div *ngFor="let dependencie of dependers">
                            <div class="flex">
                                <div class="flex-grow-1">
                                    <mat-list-item [routerLink]="['/service-detail/', dependencie.shortName, dependencie.version]">
                                        <span mat-line [routerLink]="['/service-detail/', dependencie.shortName, dependencie.version]">{{dependencie.name}}</span>
                                    </mat-list-item>
                                </div>
                                <div class="w-20">
                                    <mat-list-item>
                                        <mat-icon (click)="deleteDependency(dependencie.shortName)">delete</mat-icon>
                                    </mat-list-item>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-action-list>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>
