<div class="flex w100">

    <div class="ma3 flex-grow-1">
        <h3>{{service?.name}}</h3>
    </div>

    <!-- Drop Down Menu for version selection-->
    <mat-form-field class="w25 ma2">
        <mat-select placeholder="Service Version" (ngModelChange)="updateVersion($event)" [ngModel]="selectedVersion">
            <mat-option *ngFor="let version of versions" [value]="version.version">
                {{version?.version}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>



<mat-divider></mat-divider>


<mat-card class="ma2">
    <mat-tab-group>
        <!-- OVERVIEW TAB-->
        <mat-tab label="Overview">
            <mico-service-detail-overview [shortName]="shortName" [version]="selectedVersion">
            </mico-service-detail-overview>
        </mat-tab>
        <!-- DEPLOYMENT TAB-->
        <mat-tab label="Deployment">
            Service-Detail-Deployment...
        </mat-tab>
        <!-- STATUS TAB -->
        <mat-tab label="Status">
            <mico-service-detail-status [shortName]="shortName" [version]="selectedVersion">
            </mico-service-detail-status>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<mat-card class="ma2">Endpoint: </mat-card>
