<h3 class="ma3">A list of all registered services</h3>
<mat-divider></mat-divider>

<!-- Service Table -->
<mat-card class="ma2">
    <mat-card-title>Services</mat-card-title>
    <mat-card-content>

        <mat-button-toggle mat-raised-button (click)="newService()" class="mv2">
            <span>
                new Service
            </span>
            <mat-icon>add</mat-icon>
        </mat-button-toggle>

        <mat-table [dataSource]="services" class="mat-elevation-z2">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['/service-detail', element.shortName]">{{element.id}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell class="ph1" *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell class="ph1" *matCellDef="let element" [routerLink]="['/service-detail', element.shortName]">
                    {{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="shortName">
                <mat-header-cell class="ph1" *matHeaderCellDef>Short Name</mat-header-cell>
                <mat-cell class="ph1" *matCellDef="let element" [routerLink]="['/service-detail', element.shortName]">
                    {{element.shortName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell class="ph1" *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell class="ph1" *matCellDef="let element" [routerLink]="['/service-detail', element.shortName]">
                    {{element.description}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="controls">
                <mat-header-cell class="ph1" *matHeaderCellDef>Controls</mat-header-cell>
                <mat-cell *matCellDef="let element" class="ph1">
                    <button mat-raised-button (click)="deleteService(element)">delete</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
