<mat-dialog-content>
    <div [ngSwitch]="questionType" class="">
        <div *ngSwitchCase="'deleteDependency'">
            Do you really want to delete the dependency to <b>{{object}}</b>?
        </div>
        <div *ngSwitchCase="'deleteServiceInterface'">
            Do you really want to delete the service interface: <b>{{object}}</b>?
        </div>
        <div *ngSwitchCase="'deleteService'">
            Do you really want to delete the service: <b>{{object.shortName}} {{object.version}}</b>?
        </div>
        <div *ngSwitchCase="'deleteAllServiceVersions'">
            Do you really want to delete all versions of <b>{{object.shortName}}</b>?
        </div>
        <!-- add further questions -->

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="confirm()">Confirm</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
